header{
    margin: auto;
    color: #FCFCFC;
    background-color: #202020;
    padding: 10px 50px;
}
header img{
    width: 80px;
    height: 80px;
    background-color: #fcfcfc;
    border-radius: 20px;
    margin: 0px 50px;

}
header nav {
    margin: auto;
    display: flex;
    background-color: #202020;
    width: 600px;
}
header h1 {
    width: 500px;
}
.lienacc a {
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}