
form {
    margin: auto;
}
.text-center{
    content: center;
    text-align: center;
}
.body{
    margin: auto;
    justify-content: center;
    width: 1500px
}
.enligne {
    display: flex;
    padding: 10px;
}