body{
    font-family: Constantia;
}

h3{
    font-variant: small-caps;
    border: 5px;
    border-style: dotted;
    border-color: #ff6600;
    margin: 0% 20%;
    border-radius: 15px;
    color: darkcyan;
    font-size: 30px;
    text-align: center;
}

span{
    font-variant: small-caps;
    font-weight:bold;
    font-size: 18px;
}

.sub{
    font-size: 16px;
    border-radius: 15px;
}
.der{
    display: flex;
}
/*tableaux*/
table thead tr th{
    border-top: none;
    background: #202020;
    font-size: 35px;
    color: #FCFCFC;
    table-layout:fixed;
    font-variant: small-caps;
    text-align: center;
}
table{
    border-collapse: collapse;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
table tbody tr td{
    text-align: center;
    border: none;
    border-bottom: solid 1px black;
    padding: 15px;
    font-size: 20px;
    width: 200px;
}
#divTab{
    min-height:800px;
    height:800px;/*pour IE qui comprend rien, et qui ne reconnait pas min-height, mais qui comprend mal height*/
    min-width:1000px;
    width:1000px;/*pour IE qui comprend rien*/
    overflow-y:scroll;/*pour activer les scrollbarres*/
    display: flex;
    margin: auto;
}